<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <title>Zac Borwn Band</title>
</head>
<body>
    <h1 class="mt-5" style="text-align: center">Surprise!</h1>
    <img style="display: block; margin-left: auto; margin-right: auto; padding: 5px;" src="https://imgs.search.brave.com/k5ObAvoy5n6BQf_BwcTpQkMHr_kYH-OwrgS7YCL0nZE/rs:fit:480:208:1/g:ce/aHR0cHM6Ly9tZWRp/YS5naXBoeS5jb20v/bWVkaWEveFRpSXpK/U0tCNGw3eFRvdUU4/L2dpcGh5LmdpZg.gif" alt="A surprise">
    <div class="center"><a href="/albums" class="btn btn-secondary">Return to Landing Page</a></div>
</body>
</html>




