<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1>Zac Brown Band Discography Web App</h1>
      <img src="https://imgs.search.brave.com/Jy60IyO-uxlRAdj0RFeVzqg5ilh0yGsVZrCaPp6ZaGs/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9uaXBw/ZXJ0b3duLmNvbS96/ZWJsb2cvd3AtY29u/dGVudC91cGxvYWRz/LzIwMTkvMDgvUFNY/XzIwMTkwODMwXzIw/NDcyMC5qcGc"/>
      <br>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>